.section {
	padding: 2.5em 0;

	&__title-wrap {
		position: relative;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

	&__title {
		flex-grow: 1;

		&_center {
			text-align: center;
		}

		&_sm-center {

			@include screen-sm(max) {
				text-align: center;
			}

			&::after {

				@include screen-sm() {
					margin-left: 0;
				}
			}
		}
	}

	&__hidden-title {
		position: absolute;
		top: 0;

		&_center {
			left: 50%;
			transform: translateX(-50%);
			margin-left: 8%;
		}
	}

	&__row {
		align-items: center;
		margin-bottom: -1em;
	}

	&__zigzag {
		position: absolute;
		top: 75%;
		margin: 0;
		right: 0;

		@include screen-md(max) {
			display: none;
		}
	}

	&__img {

		@include screen-sm(max){
			max-width: 200px;
			margin: 15px auto;
			display: block;
		}
	}
}